
main .main_section1_buttons {
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 25rem;
}

    main .main_section1_buttons_tip {
        /* margin: 1rem; */
        font-size: 2rem;
        color: var(--very-dark-cyan);
        margin-left: 2.5rem ;
        margin-top: -1rem;
    }

main .main_section1_buttons button {
    border-radius: 5px;
    width: 15rem;
    height: 5rem;
}