
main .main_section1_buttons {
    /* border: 2px solid black; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 20rem;
}

    main .main_section1_buttons_tip {
        /* margin: 1rem; */
        font-size: 2rem;
        color: var(--very-dark-cyan);
        margin-left: 2.5rem ;
        margin-top: -1rem;
    }

main .main_section1_buttons button {
    border-radius: 5px;
    width: 15rem;
    height: 5rem;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    font-size: 2.4rem;
}

    .main_section1_buttons :hover {
        cursor: pointer;
    }

    .main_section1_buttons :active {
        opacity: 0,9;
        background-color: var(--strong-cyan);
        color: var(--very-dark-cyan);
    }
    
.custom_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

    .main_section1_customScreen {
        width: 15rem;
        height: 5rem;
        margin-left: 4rem;
        outline: none;
        border-radius: 5px;
        color: var(--very-dark-cyan);
        text-align: right;
        font-size: 2.4rem;
        padding: 1rem;
        background-color: var(--light-grayish-cyan);
    }
