@import url(/CSS/buttons.css);

:root {
/* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    --clear-cyan: hsl(170, 46%, 73%);
/* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
/* ### Body Copy
-font-size (form inputs): 24px
### Font
- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* background-color: var(--very-dark-cyan); */
}

body {
    background-color: var(--clear-cyan);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 15rem;
}

main {
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 76rem;
    border-radius: 20px 20px 0 0;
    font-size: 10rem;
}

main .main_section1 {
    display: flex;
    flex-flow: column nowrap;
}

/* First main section from the input */

main .main_section1_input {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* border: 2px solid black; */
    margin-bottom: 0;
}

    main .main_section1_bill {
        margin-top: 3rem;
        margin-right: 30rem ;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

main .main_section1 .main_section1_moneyicon {
    background-color: var(--light-grayish-cyan);
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 5px;
}

main .main_section1 .main_section1_moneyiconimg {
    background-image: url("/Assets/Images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    margin: 1rem;
}

main .main_section1_moneyicon .main_section1_billScreen {
    border: none;
    outline: none;
    width: 80%;
    background-color: transparent;
    text-align: right;
    color: var(--very-dark-cyan);
    font-size: 2.4rem;
    margin: 1rem;
}

/* Main section buttons imported */

/* Second main section */
    /* Second main section INPUT*/

main .main_section2 {
    display: flex;
    flex-flow: row wrap;   
}

main .main_section2 .main_section2_numberOfPeople {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--very-dark-cyan);
}

main .main_section2 .main_section2_screenoutput .main_section2_peopleIcon {
    background-image: url("/Assets/Images/icon-person.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-top: 0.4rem;
}

main .main_section2 .main_section2_screenoutput {
    display: flex;
    align-items:flex-start;
    margin: 1rem;
    border-radius: 5px;
    width: 90%;
    margin-left: 2rem;
    background-color: var(--light-grayish-cyan);
    height: 5rem;
    justify-content: space-around;
    padding: 1rem;
}

main .main_section2 .main_section2_screenoutput .main_section2_screenInput {
    margin-bottom: 1rem;
    text-align: right;
    border: none;
    background-color: transparent;
    width: 80%;
    color: var(--very-dark-cyan);
}

main .main_section2 .screen_section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--very-dark-cyan);
    border-radius: 10px;
    border: 1px solid black;
    width: 90%;
    margin-left: 2rem;
    height: 20rem;   
}

main .main_section2 .screen_section .main_section2_screenoutput2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px solid black;
    height: 5rem;
    align-items: center;
    width: 100%;
}

main .main_section2 .screen_section input {
    background-color: transparent;
    border: none;
    text-align: right;
    color: var(--strong-cyan);
    font-size: 2.4rem;
}

main .main_section2 .total_person {
    display: flex;
    flex-flow: column;
}

main .main_section2 .screen_section .main_section2_screenoutput3 {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    height: 5rem;
    width: 100%;
}

main .main_section2 .screen_section .main_section2_screenoutput_button_reset {
    width: 25rem;
    height: 5rem;
    border: 1px solid black;
}
