:root {
/* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    --clear-cyan: hsl(172, 30%, 79%);
/* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
/* ### Body Copy
-font-size (form inputs): 24px
### Font
- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* background-color: var(--very-dark-cyan); */
}

body {
    background-color: var(--clear-cyan);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 15rem;
}

main {
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 76rem;
    border-radius: 20px 20px 0 0;
    font-size: 10rem;
}

main .main_section1 .main_section1_moneyiconimg {
    background-image: url("/Assets/Images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
}

